@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.header {
  height: 80px;
  background-color: $bgSecondColor;
  width: 100%;
  @include flex(row, flex-end, center, nowrap);
  position: sticky;
  float: top;
  top: 0;
  z-index: 100;
}