@import 'src/common/styles/sass/mixins';
@import 'src/common/styles/sass/variables';


.contactsBlock {
  min-height: 494px;
  background-color: $bgSecondColor;

  .contactsContainer {
    @include container;
    @include flex(column, space-between, center, nowrap);

    .contacts {

      margin: 30px 0 0;
      background-color: $bgSecondColor;
      min-height: 300px;
      width: 600px;

      @include flex(column, flex-start, center, nowrap);
      @media screen and (max-width: 992px) {
        max-width: 330px;
      }
      @media screen and (max-width: 400px) {
        max-width: 300px;
      }

      input, textarea {
        border: 1px solid #4a4a4a;
        font-size: 12px;
        padding: 0 15px;
        background-color: $bgColor;
        max-width: 540px;
        min-width: 540px;
        margin: 0 0 15px;
        @include text($textFontFamily, 14px, 1.8);
        font-weight: 400;
        @media screen and (max-width: 992px) {
          max-width: 330px;
          min-width: 330px;
        }
        @media screen and (max-width: 400px) {
          max-width: 300px;
          min-width: 300px;
        }

      }

      input {
        height: 32px;
      }

      textarea {
        height: 158px;
      }
    }


    button {
      width: 170px;
      background-color: $primaryColor;
      color: $textColor;
      padding: 5px;
      @include text($textFontFamily, 14px, 1.2);
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 100px;
    }
  }
}









