@import 'src/common/styles/sass/mixins';
@import 'src/common/styles/sass/variables';


.contactsBlock {
    //height: 100vh;
    min-height:494px ;
    background-color: $bgSecondColor;

    .contactsContainer {
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        .contacts {
            background-color: $bgSecondColor;
            //height: 100px;
            min-height: 300px;
            //width: 250px;
            width: 600px;
            display: flex;
            flex-direction: column;
            //justify-content: space-between;
            justify-content: flex-start;


            input, textarea {
                background-color: $bgColor;
                width: 540px;
                margin: 20px;
            }

        }
        button{
            background-color: $primaryColor;
            color:$textColor;
            padding: 5px;
            @include text($textFontFamily,14px,1.2);
            font-weight: 400;
        }

    }


}









