@import 'src/common/styles/sass/mixins';
@import 'src/common/styles/sass/variables';

.skill {
  width: 250px;
  background-color: $bgSecondColor;
  padding: 20px;
  text-align: center;


  @include flex(column, center, center, nowrap);

  .icon {
    height: 60px;
    width: 60px;
    background-color: $bgColor;
    margin: 0px auto 30px;
    transform: rotate(45deg);
    transform-origin: center;
    .ic{
      transform: rotate(-45deg);
      transform-origin: center;
    }
  }

  h3 {
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 0;
    font-weight: 700;
    @include text($titleFontFamily, 16px, 1.2);
  }

  .description {
    padding-top: 30px;
    font-weight: 400;
    @include text($textFontFamily, 14px, 1.8);
  }
}



