@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.skillsBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;

  .skillsContainer {
    @include container;
    @include flex(column, flex-start, center, wrap);

    .title {
      background-color: #e0accb;
    }

    .skills {

      padding: 30px 0px;
      width: 100%;
      @include flex(row, space-between, flex-start, wrap);
      @media screen and (max-width: 755px) {
        justify-content: center;
      }
    }
  }
}





