@import 'src/common/styles/sass/variables';





.skillsBlock {
  min-height: 100vh;
  background-color:$bgSecondColor;

  .skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .title {
      background-color: #e0accb;
    }

    .skills {
      padding: 40px 0px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 755px) {
        justify-content: center;
      }
    }

  }
}





