@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

//Медиазапросы нужно добавить при сжатии окна -чтоб по центру было все

.mainBlock {
  @include flex(column, center, center, nowrap);
  min-height: 100vh;
  background-color: $bgColor;
  position: relative;

  .particles {
    opacity: 0.3;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }


  .mainContainer {
    @include container();
    height: 100%;

    .greeting {
      width: 600px;
      @include text($titleFontFamily, 40px, 1.2);
      @include flex(column, flex-start, flex-start, nowrap);
      z-index: 1;
      font-weight: 400;
      background-color: $bgColor;

      span {
        @include text($textFontFamily, 16px, 1.8);
        z-index: 0;


        //&:nth-child(2) {
        //  @include text($textFontFamily, 40px, 1.2);
        //  font-weight: 700;
        //  letter-spacing: 5px;
        //  margin: 10px 0;
        //
        //}
        //
        //span {
        //  @include text($textFontFamily, 40px, 1.2);
        //  font-weight: 700;
        //  letter-spacing: 5px;
        //  position: relative;
        //  display: inline-block;
        //  //z-index: 0;
        //  &:before{
        //    content: '';
        //    position: absolute;
        //    bottom: -30px;
        //    background: $primaryColor;
        //    width: 100%;
        //    height: 20px;
        //    //z-index: -1;
        //
        //  }
        //
        //
        //}

      }

      h1 {
        @include text($textFontFamily, 40px, 1.2);
        font-weight: 700;
        letter-spacing: 5px;
        margin-top: 30px;

        span {
          @include text($textFontFamily, 40px, 1.2);
          font-weight: 700;
          letter-spacing: 5px;
          position: relative;
          display: inline-block;
          z-index: 0;

          &:before {
            content: '';
            position: absolute;
            bottom: -5px;
            background: $primaryColor;
            width: 100%;
            height: 20px;
            z-index: -1;
          }

        }
      }
      .typingText {
        @include text($textFontFamily, 28px, 1.8);
        font-weight: 400;
        span {
          @include text($textFontFamily, 28px, 1.8);
        }
      }

      //h2{
      //  @include text($textFontFamily, 16px, 1.8);
      //  font-weight: 400;
      //  margin-top: 30px;
      //}


    }

    .photo {
      position: relative;
      z-index: 4;
      margin-bottom: 40px;

      @media screen and (max-width: 1143px) {
        margin-top: 30px;
      }

      .image {
       //background-image: url('../assets/image/photo_2022-03-29_17-26-21.jpg');
        background-size: cover;
        width: 300px;
        height: 400px;
        background-color: #e3eae3;
        background-position: 80% 0;
        @media screen and (max-width: 710px) {
          width: 240px;
          height: 340px;
          transition: .5s;
        }

        &:before {
          content: '';
          position: absolute;
          width: 105%;
          height: 110%;
          border: 5px solid #4e93e6;
          left: 15px;
          top: -15px;
          z-index: -1;
        }
      }


    }

    @include flex(row, space-between, center, wrap);
    @media screen and (max-width: 877px) {
      justify-content: center;
    }
  }
}




