@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';


.footerBlock {
  //height: 250px;
  background-color: $bgColor;

  .footerContainer {

    @include container;
    @include flex(column, space-between, center, nowrap);


    //align-items: center;
    //flex-direction: column;
    //justify-content: space-between;

    .title {
      //background-color: $bgSecondColor;
      padding: 0;
      margin: 40px 0 20px;
      @include text($titleFontFamily, 22px, 1.2);
      letter-spacing: 3px;

    }

    .networks {
      background-color: $bgColor;
      margin: 0 0 20px;
      width: 250px;
      display: flex;
      justify-content: space-between;

      .icon {
        background-color: $bgSecondColor;
        width: 50px;
        height: 50px;
      }

    }

    .copy {
      margin: 0 0 20px;
      background-color: $bgColor;
      @include text($textFontFamily, 14px, 1.8);
      color: #ffffff80;
    }
  }


}













